CompileFlags:
  Add:
    - -x
    - cuda
    - --cuda-gpu-arch=sm_86
    - --cuda-path=/usr/local/cuda
    - -I/usr/local/cuda/include
    - -I/workspace/Git/kernels-from-scratch/src
    - -std=c++17
  Remove:
    - -forward-unknown-to-host-compiler
    - -rdc=*
    - --generate-code*
